<div class="row" style="margin-top :5%">
  <div class="col s8 m6 l4 offset-s2 offset-m3 offset-l4 ">
    <p-fieldset legend="Création d'un compte">
        <div class="input-field col s12">
          <input id="email" type="email" name="email" class="validate" [(ngModel)]="email" />
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12 ">
          <input id="password" type="password" name="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s12 ">
          <input id="password" type="password" name="password" class="validate">
          <label for="password">Confirmation Password</label>
        </div>
        <div class="input-field col s12 ">
          <button class="btn waves-effect waves-light col s12 m12 l10 offset-l1" (click)="creation()" name="action">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Confirmer la création
          </button>
        </div>
    </p-fieldset>
  </div>
</div>