<div class="col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" >
  <nav class="navbar navbar-default  dark-primary-color">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/home" class="navbar-brand" style="position : relative;">Plan-It</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li></li>
          <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" *ngIf="user">Mes évènements</a>
            <ul class="dropdown-menu">
              <li *ngIf="user"><a href="/eventsedited">Mes évènements en cours d'édition</a><li>
              <li *ngIf="user" role="separator" class="divider"></li>
              <li *ngIf="user"><a href="/eventspublished">Mes évènements publiés</a><li>
                <li *ngIf="user" role="separator" class="divider"></li>
              <li *ngIf="user"><a href="/event">Créer un nouvel évènement</a><li>
            </ul>
          </li>
          <li *ngIf="user"><a href="/invitations">Les invitations que j'ai reçu</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" *ngIf="!user"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" *ngIf="user">{{user.prenom}} {{user.nom}} <span style="margin-left : 10px;" class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
            <ul class="dropdown-menu">
              <li *ngIf="!user"><a href="/creation">Créer un compte</a><li>
              <li *ngIf="!user" role="separator" class="divider"></li>
              <li *ngIf="!user"><a href="/login">Se connecter</a><li>
              <li *ngIf="user"><a (click)="logout()" >Se déconnecter</a><li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
