//Material Palette

.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5722; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.ui-growl{
    position:fixed !important;
    top:85% !important;
    width:83.3333% !important;
    left:8.33333% !important;
}

//Surcharge materialize
.btn{
  background-color : #455A64 !important;
}

.btn:hover{
  background-color : #455A64 !important;
}

a{
  cursor : pointer;
  color : #FFFFFF !important;
}

a:hover{
  color : #FFFFFF !important;
}

.centeredContent{
  text-align : center;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}

.ui-fieldset-legend{
  font-size: 20px;
}

